.ant-form label,
.ant-table-cell {
    font-size: 14px !important;
}

.ant-table-thead > tr > th {
    background-color: #e6f4ff !important;
}

.sidebar,
.sidebar-item {
    background-color: #222d32 !important;
    color: #B8B7CE !important;
}

.header,
.sidebar {
    transition: all .2s ease;
}

.sidebar-item {
    height: 56px;
}

.sidebar-item.p-0 {
    padding: 0 !important;
}

.sidebar-item:hover {
    background-color: #2c3b41 !important;
}

.sidebar-item.ant-menu-item-selected {
    background-color: #2c3b41 !important;
}
